body {
  font-size: 16px;
  line-height: 1.8;
  color: $gray;
  @include roboto(400);
  background-color: #ffffff;

  @include r (990) {
    &.lock {
      overflow: hidden;
    }
  }
}


.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;

  &__sm {
    max-width: 1500px;
  }
}

.button {
  padding: 15px 60px;
  border: 2px solid #ffffff;
  border-radius: 50px;
  @include roboto(700);
  transition: 0.7s all;

  &:hover,
  &:active,
  &:focus {
    color: $accent;
    border-color: $accent;
    background-color: inherit;
    opacity: 1;
  }
}

.title {
  color: $cello;
  @include roboto(500);
  font-size: 48px;
  position: relative;
  text-align: center;

  span {
    color: $accent;
  }

  @include r (414) {
    font-size: 30px;
  }
}


.ibg {

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {

  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}


@keyframes pulse {
  0% {
    opacity: 0;
    transform: scale(0.5);

  }

  50% {
    opacity: 0.4;
  }

  100% {
    opacity: 0;
    transform: scale(1.2);
  }
}