@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'libs';
// @import 'components/header';
// @import 'components/footer';
// @import 'components/filter-card';
// @import 'components/insights-partners';
// @import 'components/breadcrumbs';
// @import 'index-page';


.header {
  position: fixed;
  left: 0;
  right: 0;
  @include roboto(400);
  color: #ffffff;

  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    align-items: center;
  }

  &__btn {
    &:not(:last-child) {
      margin-right: 50px;
    }

  }
}

.menu {

  &__items {
    display: flex;

  }

  &__item {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}

.header-info {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  min-height: 100vh;
  color: #ffffff;

  &__inner {
    padding: 160px 0 0px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__title {
    font-size: 66px;
    max-width: 525px;
    width: 100%;
    text-align: center;
    line-height: 1.3;
    margin-bottom: 45px;
    @include roboto(500);

    // &::after{
    //   content: "";
    //   background-image: url(../images/content/header/watch.png);
    //   background-size: cover;
    //   background-repeat: no-repeat;
    //   min-height: 100%;
    // }
  }

  &__watch {
    object-fit: cover;
    max-width: 380px;
    width: 100%;
    height: 725px;
  }
}

.info {
  padding: 30px 0 0 0;
}

.steps {

  &__items {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    max-width: 380px;
    width: 100%;
    height: 320px;
    color: $gray;
    padding: 40px 30px 40px 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-shadow: 0px 15px 35px 0px rgba(51, 78, 104, 0.1);
    border-radius: 10px;
  }

  &__title {
    @include roboto(700);
    font-size: 24px;
    margin-bottom: 15px;
    position: relative;
    text-align: start;

    &::before,
    &::after {
      content: "";
      background-image: url(../images/content/steps/download.png);
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      left: 3px;
      top: -70px;
      width: 50px;
      height: 65px;
      z-index: -1;
    }

    &::after {
      background-image: url(../images/content/steps/1.png);
      left: 40px;
      top: -105px;
      width: 60px;
      height: 145px;
    }

    &--settings {

      &::before {
        background-image: url(../images/content/steps/settings.png);
        width: 50px;
        height: 50px;
        left: 0px;
        top: -55px;

      }

      &::after {
        background-image: url(../images/content/steps/2.png);
        left: 25px;
        top: -105px;
        width: 95px;
        height: 145px;
      }
    }

    &--diamond {

      &::before {
        background-image: url(../images/content/steps/diamond.png);
        width: 50px;
        height: 45px;
        left: -5px;
        top: -50px;

      }

      &::after {
        background-image: url(../images/content/steps/3.png);
        left: 25px;
        top: -105px;
        width: 95px;
        height: 145px;
      }
    }
  }

  &__text {
    line-height: 1.4;
  }
}


.works {
  padding: 125px 0;
  background-image: url(../images/content/works/Wave.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: revert;

  &__title {
    margin-bottom: 10px;
  }

  &__text {
    margin: 0 auto;
    text-align: center;
    max-width: 660px;
    @include roboto(400);
    font-size: 18px;
    line-height: 1.3;
    margin-bottom: 70px;
  }

  &__video {
    margin: 0 auto;
    border-radius: 10px;
    background-color: rgb(33, 134, 235);
    box-shadow: 0px 15px 35px 0px rgba(33, 134, 235, 0.75);
    padding: 235px 485px;
    max-width: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: 0.5s opacity;

    &:hover {
      opacity: 0.9;
    }
  }

  &__play {
    padding: 15px 15px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    position: relative;
    transition: 0.8s transform, background-color, border-color, ;

    svg {
      fill: $accent;
      transition: 0.5s fill;
    }

    &::before,
    &::after {
      content: "";
      width: 100px;
      height: 100px;
      background-color: #ffffff;
      content: "";
      position: absolute;
      border: 10px solid #ffffff;
      left: -10px;
      top: -10px;
      border-radius: 50%;
      opacity: 0;
      animation: pulse 1.5s linear infinite;
      z-index: -1;

    }

    &:hover {
      background-color: $video-color;
      transform: scale(1.1);

      &::before,
      &::after {
        background-color: $video-color;
        border: $video-color;
      }

      svg {
        fill: #ffffff;
      }
    }
  }
}

.sliders {
  padding: 35px 0;
}

.people-slider {

  background-image: url(../images/content/people/Wave.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__human {
    margin-right: 165px;
  }

  &__info {
    max-width: 470px;
    width: 100%;
  }

  &__text {
    @include roboto (400);
    font-style: italic;
    font-size: 18px;
    line-height: 1.3;
    margin-bottom: 45px;
    position: relative;

    &::before {
      content: "";
      background-image: url(../images/content/people/quote.png);
      background-size: cover;
      background-repeat: no-repeat;
      position: absolute;
      left: -65px;
      top: -10px;
      width: 36px;
      height: 33px;
    }
  }

  &__human-info {
    display: flex;
    flex-direction: column;

    span {
      color: $accent;
      @include roboto(700);
      font-size: 24px;
      line-height: 1;
    }
  }
}

.looks-slider {
  &__img {
    object-fit: cover;
    max-width: 300px;
    width: 100%;
    height: 620px;
  }
}


.slick-prev,
.slick-next {
  background-color: inherit;
  border: 0;
  font-size: 0;
  cursor: pointer;
  width: 30px;
  position: absolute;
  bottom: 130px;
  right: 0;

  svg {
    transition: 0.5s all;

    &:hover,
    &:focus,
    &:active {
      transition: 0.5s all;
      fill: $accent;
    }
  }
}

.slick-prev {
  right: 145px;
  z-index: 10;
}

.slick-next {
  right: 105px;
  z-index: 10;
}

.looks-slider {

  padding: 90px 0;

  &__title {
    margin-bottom: 45px;
  }

}

.slick-center {
  transform: scale(1.1);
  transition: 0.7s transform;
}

.slick-list {
  padding: 45px 0 !important;
}

.slick-track {
  width: fit-content;
}

.slick-dots {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);

  li:not(:last-child) {
    margin-right: 20px;
  }

  button{
    border: none;
    font-size: 0;
    background-color: none;
    border-radius: 50%;
    background-color: rgb(188, 204, 220);
    width: 13px;
    height: 14px;
    transition: 0.5s background-color;

    &:hover,
    &:focus,
    &:active {
      background-color: #2083e6;
    }

    &.active {
      &:first-child {
        background-color: $accent;
      }
    }
  }

}

.questions {
  background-image: url(../images/content/questions/Wave.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom bottom;

  &__title {
    margin-bottom: 50px;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 110px;
  }

  &__item {
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 0px 15px 35px 0px rgba(51, 78, 104, 0.1);
    padding: 0px 25px;
    max-width: 670px;
    width: 100%;
    background-color: #ffffff;
    margin-right: 415px;
  }


  &__subtitle {
    @include roboto(700);
    font-size: 18px;
    line-height: 1.3;
    position: relative;
    cursor: pointer;
    padding: 30px 0px;
    transition: 0.5s color, background-color, ;


    &::before,
    &::after {
      content: "";
      width: 13px;
      height: 3px;
      background-color: #bcccdc;
      position: absolute;
      top: 40px;
      transition: 0.5s all;
    }

    &::before {
      transform: rotate(40deg);
      right: 0;
    }

    &::after {
      transform: rotate(-40deg);
      right: -8px;
    }

    &:hover,
    &:focus,
    &:active {
      color: $accent;

      &::before,
      &::after {
        background-color: $accent;
      }
    }

    &.active {
      color: $accent;

      &::before,
      &::after {
        background-color: $accent;
      }

      &::before {
        transform: rotate(-40deg);
      }

      &::after {
        transform: rotate(40deg);
      }
    }
  }

  &__text {
    line-height: 1.5;
    max-width: 545px;
    display: none;
    padding: 0 0 30px 0px;
  }
}

.download {
  padding: 75px 0;
  color: #ffffff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  &__inner {
    margin: 0 auto;
    max-width: 530px;
    width: 100%;
  }

  &__title {
    color: #ffffff;
  }

  &__subtitle {
    margin-bottom: 28px;
  }

  &__social {
    display: flex;
    justify-content: center;
  }

  &__link {
    &:not(:last-child) {
      margin-right: 20px;
    }

    svg {
      transition: 0.5s fill;

      &:hover,
      &:active,
      &:focus {
        fill: #2dbdff;
      }
    }
  }
}

.email-form {
  margin-bottom: 50px;
  position: relative;

  &__wrapper {
    &::after {
      content: "";
      background-image: url(../images/content/icons/paper-plane.svg);
      background-size: cover;
      background-repeat: no-repeat;
      width: 25px;
      height: 25px;
      position: absolute;
      left: 25px;
      top: 15px;

      svg {
        fill: $accent;
      }
    }
  }

  &__address {
    padding: 15px 285px 15px 65px;
    border-radius: 28px;
    background-color: #ffffff;
    border: 0;
    transition: 0.5s opacity;

    &:hover,
    &:focus,
    &:active {
      opacity: 0.8;
    }

    &::placeholder {
      color: $accent;
      font-size: 18px;
    }
  }


  &__button {
    padding: 12px 51px;
    position: absolute;
    right: -1px;
    top: 1px;
    text-transform: uppercase;
    @include roboto(700);
    color: #ffffff;
    background-color: $accent;


  }
}


.plans {
  padding: 135px 0;
  background-image: url(../images/content/plans/wave.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;

  &__title {
    margin-bottom: 15px;
  }

  &__subtitle {
    margin: 0 auto;
    text-align: center;
    max-width: 340px;
    width: 100%;
    font-size: 18px;
    line-height: 1.3;
    margin-bottom: 45px;
  }

  &__items {
    display: flex;
    justify-content: center;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 45px;
    max-width: 310px;
    width: 100%;
    min-height: 570px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 15px 35px 0px rgba(51, 78, 104, 0.1);
    font-size: 14px;
    transition: 0.5s all;

    &:not(:last-child) {
      margin-right: 25px;
    }

    &:hover,
    &:active,
    &:focus {
      background-color: $accent;
      color: #ffffff;
      box-shadow: 0px 15px 35px 0px rgba(33, 134, 235, 0.75);
      transform: scale(1.02);
    }


    &:hover .plans__price {
      span {
        color: #ffffff;
      }
    }

    &:hover .plans__number {
      color: #ffffff;
    }

    &:hover .plans__button {
      background-color: #ffffff;
    }
  }

  &__lable {
    text-transform: uppercase;
    @include roboto(700);
    color: $accent;
    background-color: rgb(230, 246, 255);
    box-shadow: 0px 0px 75px 0px rgba(51, 51, 51, 0.1);
    padding: 0px 25px;
    border-radius: 25px;
    line-height: 2.2;
    margin-bottom: 20px;

  }

  &__price {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;

    span {
      @include roboto(900);
      font-size: 48px;
      line-height: 1.3;
      color: $accent;
      transition: 0.5s color;
    }
  }

  &__text {
    text-align: center;
    max-width: 214px;
    width: 100%;
    border-bottom: 1px solid #829ab1;
    padding-bottom: 20px;
    line-height: 1.6;
  }

  &__list {
    display: flex;
    margin-bottom: 30px;
    padding-top: 45px
  }

  &__number {
    @include roboto(700);
    color: $gray;
    margin-right: 10px;
    text-align: right;
    transition: 0.5s color;
  }

  &__names {
    text-align: left;
  }

  &__name,
  &__number {
    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  &__button {
    border-color: $accent;
    text-transform: uppercase;
    color: $accent;
    font-size: 18px;
    padding: 8px 65px;
  }
}

.post {
  padding: 30px 0 165px 0;

  &__title {
    margin-bottom: 70px;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 15px 35px 0px rgba(51, 78, 104, 0.1);
    width: 370px;
    min-height: 305px;
    padding: 50px 25px;
    margin-bottom: 45px;
    transition: 0.5s opacity;

    &:not(:last-child) {
      margin-right: 30px;
    }

    &:hover {
      opacity: 0.9;
    }

    &:hover .post__subtitle,
    &:focus .post__subtitle,
    &:active .post__subtitle {
      color: $accent;

    }
  }

  &__author {
    font-size: 14px;
    font-style: italic;
    color: #829ab1;
    line-height: 1.7;
    margin-bottom: 15px;
    display: block
  }

  &__subtitle {
    @include roboto(700);
    font-size: 18px;
    line-height: 1.7;
    color: $cello;
    max-width: 310px;
    width: 100%;
    margin-bottom: 15px;
    display: block;
    transition: 0.5s color;

  }

  &__text {
    display: block;
    line-height: 1.5;
  }

  &__wrapper {
    display: flex;
    justify-content: center;
  }

  &__button {
    background-color: $accent;
    color: #ffffff;
    padding: 10px 60px;
    transition: 0.7s all;

    // &:hover,
    // &:active,
    // &:focus {
    //   color: $accent;
    //   border-color: $accent;
    //   background-color: inherit;
    //   opacity: 1;
    // }
  }
}

.contact {
  &__title {
    margin-bottom: 10px;
  }

  &__subtitle {
    text-align: center;
    font-size: 24px;
    margin-bottom: 85px;
  }


  &__form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
  }


  &__wrapper {
    position: relative;
    transition: 0.5s opacity;

    &::after {
      content: "";
      background-image: url(../images/content/icons/paper-plane.svg);
      background-size: cover;
      background-repeat: no-repeat;
      width: 25px;
      height: 25px;
      position: absolute;
      left: 30px;
      top: 15px;
    }

    &:hover,
    &:focus,
    &:active {
      opacity: 0.7;
    }
  }

  &__address {
    padding: 10px 25px 10px 65px;
    margin-right: 25px;
  }

  &__address,
  .jq-selectbox__select {
    border: 2px solid $accent;
    background-color: #fff;
    position: relative;
    border-radius: 28px;

    &::placeholder {
      color: $accent;
      @include roboto(700);
    }

  }

  &__button {
    position: static;
    padding: 12px 60px;
  }

  &__sort {
    margin-right: 25px;
  }

  &__items {
    display: flex;
    justify-content: center;
  }

  &__item {
    @include roboto(700);
    color: $accent;
    transition: 0.5s opacity;
    position: relative;
    margin-bottom: 50px;

    &::after {
      content: "";
      background-image: url(../images/content/icons/compass.svg);
      background-size: cover;
      background-repeat: no-repeat;
      position: absolute;
      top: 0;
      left: -30px;
      width: 25px;
      height: 25px;
    }

    &--mail {
      &::after {
        background-image: url(../images/content/icons/at.svg);
        top: 5px;
        width: 20px;
        height: 20px;
      }
    }

    &--phone {
      &::after {
        background-image: url(../images/content/icons/telephone.svg);
      }
    }

    &--compass {
      &::after {
        background-image: url(../images/content/icons/compass.svg);
      }
    }

    &:not(:last-child) {
      margin-right: 75px;
    }

    &:hover {
      opacity: 0.7;
    }
  }

  &__map {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 125px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s opacity;

    &:hover {
      opacity: 0.8;
    }
  }

  &__img {
    transition: 0.5s transform;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.jq-selectbox__select {
  background: inherit;
  box-shadow: inherit;
  height: inherit;
  min-width: 270px;
  font-size: 16px;
  line-height: 1.8;
  padding: 10px 25px 10px 35px;
  width: 100%;
  position: relative;
  cursor: pointer;
  transition: 0.5s opacity;

  &:hover,
  &:focus,
  &:active {
    opacity: 0.7;
  }

  &::before,
  &::after {
    content: "";
    width: 13px;
    height: 3px;
    background-color: $accent;
    position: absolute;
    top: 24px;
    right: 0;
    transition: 0.5s all;
  }

  &::before {
    transform: rotate(45deg);
    right: 25px;
  }

  &::after {
    transform: rotate(-45deg);
    right: 17px;
  }

  &.active {
    &::before {
      transform: rotate(-45deg);
      right: 19px;
      width: 18px;
    }

    &::after {
      transform: rotate(45deg);
      right: 19px;
      width: 18px;
    }
  }
}

.jq-selectbox__trigger {
  border: 0;
}

.jq-selectbox__select-text {
  font-size: 16px;
  color: $accent;
  @include roboto(700);
  min-width: 100%;
}

.jq-selectbox__dropdown {
  border: 2px solid $accent;
  border-radius: 25px;
  min-width: 100%;
  transition: 0.5s all;
  background-color: rgba(255, 255, 255, 0.905);
  color: $accent;
  cursor: pointer;
  overflow: hidden;

  li {
    padding: 0 15px;
    transition: 0.5s background-color;

    &:last-child {
      padding-bottom: 15px;
    }

    &:first-child {
      padding-top: 15px;
    }

    &:hover {
      background-color: $accent;
      color: #ffffff;
    }
  }
}

.footer {
  background-color: #0967d2;
  color: #ffffff;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
  }

  &__store {
    display: flex;
  }

  &__app {
    margin-right: 10px;
  }

  &__app,
  &__play {
    transition: 0.5s opacity;

    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
    }
  }

  .footer-menu {
    &__items {
      display: flex;
    }

    &__item {
      font-size: 14px;

      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }

  &__border {
    border-bottom: 1px solid #1b58e1;
    display: block;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
  }

  &__social {
    display: flex;
  }

  &__icon {
    &:not(:last-child) {
      margin-right: 15px;
    }

    svg {
      transition: 0.5s fill;

      &:hover {
        fill: $accent;
      }
    }
  }
}