.info {
  padding: 30px 0 0 0;
}

.steps {

  &__items {
    display: flex;
    justify-content: space-between;

    @include r(1200) {
      justify-content: center;
      flex-wrap: wrap;
    }
  }

  &__item {
    max-width: 380px;
    width: 100%;
    min-height: 320px;
    color: $gray;
    padding: 40px 30px 40px 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-shadow: 0px 15px 35px 0px rgba(51, 78, 104, 0.1);
    border-radius: 10px;

    @include r (1200) {
      min-height: 320px;

      &:not(:last-child) {
        margin: 0 20px 20px 0;
      }
    }

    @include r (768) {
      max-width: 660px;

      &:not(:last-child) {
        margin: 0 0 20px 0;
      }
    }

    @include r (414) {
      padding: 40px 25px 40px 25px;
    }
  }

  &__title {
    @include roboto(700);
    font-size: 24px;
    margin-bottom: 15px;
    position: relative;
    text-align: start;
    overflow: visible;

    &::before,
    &::after {
      content: "";
      background-image: url(../images/content/steps/download.png);
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      left: 3px;
      top: -70px;
      width: 50px;
      height: 65px;
      z-index: -1;
    }

    &::after {
      background-image: url(../images/content/steps/1.png);
      left: 40px;
      top: -105px;
      width: 60px;
      height: 145px;

      @include r (414) {
        left: 60px;
        top: -65px;

      }
    }

    &--settings {

      &::before {
        background-image: url(../images/content/steps/settings.png);
        width: 50px;
        height: 50px;
        left: 0px;
        top: -55px;

      }

      &::after {
        background-image: url(../images/content/steps/2.png);
        left: 25px;
        top: -105px;
        width: 95px;
        height: 145px;
      }
    }

    &--diamond {

      &::before {
        background-image: url(../images/content/steps/diamond.png);
        width: 50px;
        height: 45px;
        left: -5px;
        top: -50px;

      }

      &::after {
        background-image: url(../images/content/steps/3.png);
        left: 25px;
        top: -105px;
        width: 95px;
        height: 145px;
      }
    }
  }

  &__text {
    line-height: 1.4;
    @include text-clamp(5);
  }
}

.works {
  padding: 125px 0 40px 0;
  background-image: url(../images/content/works/Wave.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: revert;

  @include r (768) {
    padding: 75px 0;
  }

  @include r (414) {
    padding: 50px 0;
  }

  &__title {
    margin-bottom: 10px;
  }

  &__text {
    margin: 0 auto;
    text-align: center;
    max-width: 660px;
    @include roboto(400);
    font-size: 18px;
    line-height: 1.3;
    margin-bottom: 70px;
    @include text-clamp(5);

    @include r (414) {
      font-size: 16px;
      margin-bottom: 35px;
    }
  }

  &__video {
    margin: 0 auto;
    border-radius: 10px;
    background-color: rgb(33, 134, 235);
    box-shadow: 0px 15px 35px 0px rgba(33, 134, 235, 0.75);
    padding: 235px;
    max-width: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: 0.5s opacity;

    &:hover {
      opacity: 0.9;
    }

    @include r (768) {
      padding: 175px;
    }

    @include r (414) {
      padding: 85px;
    }
  }

  &__play {
    padding: 15px 15px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    position: relative;
    transition: 0.8s transform, background-color, border-color, ;

    svg {
      fill: $accent;
      transition: 0.5s fill;
    }

    &::before,
    &::after {
      content: "";
      width: 100px;
      height: 100px;
      background-color: #ffffff;
      content: "";
      position: absolute;
      border: 10px solid #ffffff;
      left: -10px;
      top: -10px;
      border-radius: 50%;
      opacity: 0;
      animation: pulse 1.5s linear infinite;
      z-index: -1;

      @include r (414) {
        width: 90px;
        height: 90px;
      }
    }

    &:hover {
      background-color: $video-color;
      transform: scale(1.1);

      &::before,
      &::after {
        background-color: $video-color;
        border: $video-color;
      }

      svg {
        fill: #ffffff;
      }
    }

    @include r(414) {
      padding: 10px 10px;
    }
  }
}